* {
    margin: 0;
    overflow: auto;
}

section {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}

.hidden {
    display: none;
}

h1 {
    font-weight: bolder;
    font-size: 7rem;
    padding: .5em;
}

h2 {
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 1.25em;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222F73;
    color: #77BDA8;
}

#landing-page h1 {
    text-align: center;
    padding-bottom: 0px;
}

.hello {
    margin-right: .5em;
}

#landing-page h2 {
    text-align: center;
}

.username-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#username {
    padding-top: 0px;
    min-width: 15vw;
    margin-right: .25em;
}

/*Arrow icon button*/
.gg-push-chevron-right-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px
   }
   
   .gg-push-chevron-right-o::after,
   .gg-push-chevron-right-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 8px;
    border-right: 2px solid;
    top: 5px;
    right: 5px
   }
   
   .gg-push-chevron-right-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    right: 9px;
    top: 6px
} 

.gg-push-chevron-right-o {
    color: #77BDA8;
    background-color: #222F73;
    --ggs: 6.5;
}

.arrow-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}

#streaming-service {
    background-color: #503659;
    color: #DEA6A6;
}

#streaming-service .btn-group {
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#streaming-service .btn-group label {
    display: inline-block;
    background-color: #DEA6A6;
    border: solid 2px #9a3030;
    color: black;
    font-size: 30px;
    font-style: Sans-serif;
    padding: 15px;
}

#streaming-service .btn-group input {
    opacity: 0;
    width: 0;
    height: 0;
}

#video-stream {
    display: flex;
    align-items: center;
    width: 1036px; 
    height: 583px;
}

/* styling for sections */

#genres {
    /* display: none; */
    padding: 2em;
    border: 2px solid red;
    background-color: #222F73;
    color: #fcf6c9;
}

#genres .btn-group {
    max-width: 80vw;
    border: 2px solid red;
    padding: 2em;
    height: 45vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#genres .btn-group label {
    margin: 1em;
    height: 50px;
    width: 100px;
    background-color: #fcf6c9;
    font-size: x-large;
}

#series-movie {
    /* display: none; */
    background-color: #77BDA8;
    color: #222F73;
}

#series-movie .btn-group {
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#series-movie .btn-group button {
    height: 250px;
    width: 250px;
    background-color: #222F73;
    font-size: x-large;
}

#results {
    /* display: none; */
    background-color: #503659;
    color:#77BDA8;
}
