* {
    margin: 0;
    overflow: auto;
}

section {
    position: relative;
    height: 100vh;
    max-height: 100%;
}

#hidden {
    display: none;
}

h1 {
    font-weight: bolder;
    font-size: 5rem;
}

h2 {
    font-weight: bolder;
    font-size: 2.5rem;
    padding: 1.25em;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    color: #8985F2;
}

.landing-page h1 {
    text-align: center;
    padding-bottom: 0;
}

.landing-page h2 {
    padding-top: 0;
    text-align: center;
}

.index-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Arrow icon button*/
.gg-push-chevron-right-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px
   }
   
   .gg-push-chevron-right-o::after,
   .gg-push-chevron-right-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 8px;
    border-right: 2px solid;
    top: 5px;
    right: 5px
   }
   
   .gg-push-chevron-right-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    right: 9px;
    top: 6px
} 

.gg-push-chevron-right-o {
    color: #F2A649;
}

.back {
    transform: scale(6) scaleX(-1);
    margin-right: 1em;
}

.proceed {
    transform: scale(6);
    margin-left: 1em;
}

.generate {
    transform: scale(6);
}

.gg-push-chevron-right-o:hover {
    color: #f78a06;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.arrow-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}

/* Streaming service page styling */
.streaming-service {
    /* display: none; */
    padding: 2em;
    background-color: #F2F2F2;
    color: #8985F2;
}

.streaming-service .btn-group {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.streaming-service .btn-group label {
    display: inline-block;
    background-color: #CAC9F2;
    border: solid 2px #716DF2;
    color: #716DF2;
    font-size: 30px;
    font-style: Sans-serif;
    padding: 15px;
    border-radius: 25px;
}

.streaming-service .btn-group input {
    opacity: 0;
    width: 0;
    height: 0;
} 

.streaming-service .btn-group label:hover {
    background-color: #716DF2;
    color:#CAC9F2 
} 

.streaming-service .btn-group input[type="radio"]:checked+label{
    background-color: #716DF2;
    color: #CAC9F2;
}

#video-stream {
    display: flex;
    align-items: center;
    width: 1036px; 
    height: 583px;
}

/* genres page styling */
.genres {
    /* display: none; */
    padding: 2em;
    border: 2px solid transparent;
    background-color: #F2F2F2;
    color: #8985F2;
}

.genres .btn-group {
    max-width: 100vw;
    border: 2px solid transparent;
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.genres .btn-group .display {
    margin: 1em;
    height: 30px;
    width: 120px;
    background-color: #CAC9F2;
    color:#716DF2;
    font-size: 17px;
    font-style: Sans-serif;
    border-radius: 25px;
    border: solid 2px #716DF2;
    justify-content: space-evenly;
    text-align: center;
}

.genres .btn-group .display:hover {
    background-color: #716DF2;
    color: #CAC9F2;
}

.genres .btn-group input[type="radio"]:checked+.display{
    background-color: #716DF2;
    color: #CAC9F2;
}

.genres .btn-group input {
    display:none;
}

/* series or movie page styling */
.series-movie {
    /* display: none; */
    padding: 2em;
    background-color: #F2F2F2;
    color: #8985F2;
}

.series-movie .btn-group {
    height: 25vh;
    width: 102vw;
    border: solid 2px transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.series-movie .btn-group label {
    padding: 2%;
    border: solid 2px #716DF2;
    border-radius: 25px;
    height: 60px;
    width: 200px;
    background-color:#CAC9F2;
    color: #716DF2;
    font-size: 40px; 
    text-align: center;
}

.series-movie .btn-group label:hover {
    background-color: #716DF2;
    color: #CAC9F2;
}

.series-movie .btn-group input[type="radio"]:checked+label{
    background-color: #716DF2;
    color: #CAC9F2;
}

.series-movie .btn-group input {
    display: none;
}

/* results page styling */
.results {
    height: fit-content;
    background-color: #CAC9F2;
    color:#8985F2;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.show-container {
    border: 2px solid;
    margin: 2em;
    padding: 2em;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show-information-container {
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 450px;
}

#picture-container {
    width: 300px;
    height: 360px;
    background-color: #000;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#cast {
    padding-left: 2em;
    padding-right: 2em;
}

#overview {
    padding-left: 2.3em;
    padding-top: 1em;
    padding-right: 2.3em;
    font-size: 1rem;
}

.title-year-container {
    display: flex;
    flex-wrap: wrap;
}


#title {
    padding: .5em;
    font-size: 2rem;
}

#year {
    text-align: center;
    font-size: 1rem;
    margin: auto;
    padding: 0;
    padding-right: .25em;
}

#results-video {
    flex-shrink: 0;
    margin-left: .5em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #716DF2;
}

  /*LOADING PAGE LOADER ANIMATION*/
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }